# module config

Config = {
	"database": {
		"host"    : "example.com",
		"database": "dbname",
		"user"    : "dbuser",
		"password": "dbpass"
	},
	"mail": {
		"host"	: "mail.example.com",
		"from"	: "encodesrv@example.com",
		"to"	: "computing@example.com"
	},
	"tmpfolder": "/data/tmpencoding",
	"mntfolder": "/",
}
